{% extends("YeomiPostBundle::layout.html.twig") %}

{% block metaTitle %}{{ article.title }} - Actu Yootips{% endblock %}
{% block metaDescription %}{{ truncatePost(article.body, 150)|striptags }}{% endblock %}

{% block body %}


    <header class="breadcrumb-ban">
        <ul class="breadcrumb left">
            <li><a href="{{ path("yeomi_post_index") }}">Accueil ></a></li>
            <li><a href="{{ path("yeomi_cms_list_article") }}">Les articles ></a></li>
            <li><span>{{ article.title }}</span></li>
        </ul>

    </header>

    <section class="cms-page container">
        <h3>{{ article.title }}</h3>
        <div class="image">
            <img class="article-img" src="{{ web_image(asset('uploads/img/article/' ~ article.image.id ~ '.' ~ article.image.value)).fixOrientation().cropResize(895,465) }}" alt=""/>
        </div>
        <article class="body ckeditor-actif">
            {{ article.body|raw }}
        </article>
    </section>
{% endblock %}