{% extends("YeomiPostBundle::layout.html.twig") %}



        {% block metaTitle %}
            {% if type.slug == "defi"%}
            Proposez un défi et participez aux challenges sur Tpaschiche
            {% else %}
            Partagez vos histoires drôles (ou pas) avec les autres sur Tpaschiche
            {% endif %}
        {% endblock %}
        {% block metaDescription %}
            {% if type.slug == "defi"%}
                Bienvenue dans la catégorie « Défi ». Ici, on donne libre cours à son imagination, pour lancer ou relever des challenges en tous genres, sans aucune limites... a part les quelques règles de notre sacro-sainte Charte TPC bien sûr !
            {% else %}
                Histoires, blagues, récits et autres blabla de tout poil, notre catégorie « Histoire » est là pour partager en quelques clics et quelques coups de clavier ! Laissez-vous tenter en racontant toutes vos histoires...
            {% endif %}
        {% endblock %}


{% block body %}
    <section class="page-category page-type">
        <header class="category-header">
            <h1>{{ type.name }}</h1>
            {% if type.slug == "defi"%}
                <p>Bienvenue dans la catégorie « Défi ». Ici, on donne libre cours à son imagination, pour lancer ou relever des challenges en tous genres, sans aucune limites... a part les quelques règles de notre sacro-sainte Charte TPC bien sûr !</p>
            {% else %}
                <p>Histoires, blagues, récits et autres blabla de tout poil, notre catégorie « Histoire » est là pour partager en quelques clics et quelques coups de clavier ! Laissez-vous tenter en racontant toutes vos histoires... ou simplement en lisant celles des autres, bande de curieux !</p>
            {% endif %}
        </header>

        {% block homeViews %}

            <div class="container container-lists">
                <div class="full column-container">
                    <div class="index-menu" data-offset="0" data-quantity="12">
                        <div class="tab {{ type.slug }} active"><a class="loader-list" data-target="{{ path("yeomi_post_view_list_type", {"type": type.slug}) }}" href="">{{ type.name }}</a></div>
                    </div>

                    <div class="ajax-wrapper">
                        {{ render(controller("YeomiPostBundle:Type:listType", {"type": type.slug, "limit": 12})) }}
                    </div>
                    <div class="more-posts">
                        <a href="">{% trans %}See more posts{% endtrans %}</a>
                    </div>
                </div>
            </div>
        {% endblock %}




    </section>


{% endblock %}