<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} - Tpaschiche - {% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("assets/css/global.css") }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    </head>
    <body>


        {% block popups %}

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
            {{ render(controller("YeomiUserBundle:Main:login")) }}
        {% endif %}
        {% endblock %}

        {% block header %}
            <div class="wrapper-width site-header">
                <header id="site-header">
                {% block menu_left %}
                    <nav class="main-nav left">
                        <ul>
                            <li><a href="" class="menu-toggle">☰</a></li>
                            <li><a href="" class="btn search">{% trans %}Search{% endtrans %}</a></li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li><a class="log-btn btn logout" href="{{ url("logout") }}">{{ app.user.username }} - {% trans %}Logout{% endtrans %}</a></li>
                            {% else %}
                                <li><a class="log-btn btn login yeomi-popup-link" data-popup="login" {{ url("login") }}">{% trans %}Login{% endtrans %}</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endblock %}

                {% block logo %}
                    <a id="main-logo" href="{{ url("yeomi_post_index") }}">
                        <img src="{{ asset('assets/img/main-logo.png') }}" alt="Tpaschiche"/>
                    </a>
                {% endblock %}

                {% block menu_right %}
                    <nav class="main-nav right">
                        <ul>
                            <li><a class="btn new-challenge add-btn" href="{{ url("yeomi_post_add_post", {"type": "defi"}) }}">{% trans %}Suggest a challenge{% endtrans %}</a></li>
                            <li><a class="btn new-story add-btn" href="{{ url("yeomi_post_add_post", {"type": "histoire"}) }}">{% trans %}Share a story{% endtrans %}</a></li>
                        </ul>
                    </nav>
                {% endblock %}
                </header>
            </div>
        {% endblock %}



        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset("assets/js/jquery-1.11.2.js") }}"></script>
            <script src="{{ asset("bundles/yeomipost/js/script.js") }}"></script>
            <script src="{{ asset("bundles/yeomipost/js/vote.js") }}"></script>
            <script src="{{ asset("assets/js/script.js") }}"></script>
        {% endblock %}
    </body>
</html>