<div class="add-comment-form">

    {{ form_start(form, {"action": path("yeomi_post_add_comment", {"postId": postId}), "attr": {"class": "classic-form"}}) }}

    <div class="comment-body">
        {% set textareaPlaceholder = "Votre commentaire..." %}

    {{ form_widget(form.content, {'attr': {'placeholder' : textareaPlaceholder }}) }}
    </div>
    <div class="comment-attached-files">
        <a class="link-attach-file add-pictures" data-target="pictures" href="">{% trans %}Add pictures{% endtrans %}</a>
        <a class="link-attach-file add-video" data-target="video" href="">{% trans %}Add a video{% endtrans %}</a>

        <div class="field-attach-file add-pictures-field">
            <ul>
                {% for index, imageForm in form.images %}
                    <li class="upload-image-{{ index }}">
                        {{ form_errors(imageForm.file) }}
                        {{ form_widget(imageForm.file) }}

                        <button class="reset-image-upload btn-dark">Annuler</button>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="field-attach-file add-video-field">
            {{ form_errors(form.video) }}
            <p>{{ form_widget(form.video.video, {'attr': {'placeholder' : "Copier l'url d'une vidéo Youtube"}}) }}</p>
        </div>

        <div class="submit-area">
            {{ form_widget(form.save, {'attr': {'class': 'btn-dark submit '}, 'label': 'Publier !'}) }}
        </div>
    </div>


    {{ form_end(form) }}
</div>