
<div class="pop-up-wrapper">
    <span class="popup-arrow"></span>
    <aside class="add-{{ type.slug }}-popup yeomi-popup">


        {% if type.slug == "defi" %}
            {% set suggestEntity = "Suggest a challenge" %}
        {% elseif type.slug == "histoire" %}
            {% set suggestEntity = "Share a story" %}
        {% endif %}


        <h3>{{ suggestEntity|trans }}</h3>

        {{ form_start(form, {"action": path("yeomi_post_add_post", {"type": type.slug})}) }}

        <div class="post-body">
            {{ form_widget(form.content, {'attr': {'placeholder' : suggestEntity|trans}}) }}
        </div>

        <div class="post-category">
            {{ form_widget(form.categories) }}
        </div>

        <div class="post-attached-files">
            <p class="info">
                N'oubliez pas que vous pouvez agrémenter votre publication d'une image ou d'une vidéo ! Vous êtes cependant libre de laisser les mots parler d'eux-mêmes !
            </p>

            <a class="link-attach-file add-pictures" data-target="pictures" href="">{% trans %}Add pictures{% endtrans %}</a>
            <a class="link-attach-file add-video" data-target="video" href="">{% trans %}Add a video{% endtrans %}</a>

            <div class="field-attach-file add-pictures-field">
                <ul>
                {% for index, imageForm in form.images %}
                    <li class="upload-image-{{ index }}">
                    {{ form_label(imageForm.file) }}
                    {{ form_widget(imageForm.file) }}
                    </li>
                {% endfor %}
                </ul>
            </div>

            <div class="field-attach-file add-video-field">
                <p>{{ form_widget(form.video.video, {'attr': {'placeholder' : "Copier l'url d'une vidéo Youtube"}}) }}</p>
            </div>
        </div>

        <div class="submit-area">
            {{ form_widget(form.save, {'attr': {'class': 'btn-3d popup-btn '}, 'label': 'Publish'|trans}) }}
        </div>


        {{ form_end(form) }}
    </aside>
</div>