
<div class="pop-up-wrapper">
    <div class="popup-container">
    <span class="popup-arrow"></span>
    <aside class="add-post-popup yeomi-popup">
        <div class="close"></div>

        <h3>Tipser quelque chose !</h3>

        {{ form_start(form, {"action": path("yeomi_post_add_post")}) }}


        <div class="post-body">
            {{ form_widget(form.content, {'attr': {'placeholder' : "Tipsez quelque chose"|trans}}) }}
        </div>

        <div class="post-link">
            {{ form_widget(form.link, {'attr': {'placeholder' : "Lien (optionnel)"|trans}}) }}
        </div>

        <div class="post-category">
            {{ form_widget(form.categories) }}
        </div>

        <div class="post-attached-files">
            <p class="info">
                {# N'oubliez pas que vous pouvez agrémenter votre publication d'une image ou d'une vidéo ! Vous êtes cependant libre de laisser les mots parler d'eux-mêmes !#}
                Ajout de photo(s) ou vidéo possible mais pas obligatoire...
            </p>

            <a class="link-attach-file add-pictures" title="{% trans %}Add pictures{% endtrans %}" data-target="pictures" href="">{% trans %}Add pictures{% endtrans %}</a>
            <a class="link-attach-file add-video" title="{% trans %}Add a video{% endtrans %}" data-target="video" href="">{% trans %}Add a video{% endtrans %}</a>



            <div class="submit-area">
                {{ form_widget(form.save, {'attr': {'class': 'btn-dark popup-btn '}, 'label': 'Publish'|trans}) }}
            </div>
            <div class="field-attach-file add-pictures-field">
                <ul>
                {% for index, imageForm in form.images %}
                    <li class="upload-image-{{ index }}">
                    {{ form_widget(imageForm.file) }}
                        <button class="reset-image-upload btn-dark">Annuler</button>
                    </li>
                {% endfor %}
                </ul>
            </div>

            <div class="field-attach-file add-video-field">
                <p>{{ form_widget(form.video.video, {'attr': {'placeholder' : "Copier l'url d'une vidéo Youtube"}}) }}</p>
            </div>
        </div>


        {{ form_end(form) }}
    </aside>
    </div>
</div>