{% extends("YeomiPostBundle::layout.html.twig") %}


{% block body %}
    <div class="page-index">
    {% block headerBan %}
        <div class="wrapper-width home-ban">
            <aside id="home-ban" class="top-ban">

                <span class="top">Une envie, un partage, un défi...</span>
                <span class="middle">Tpaschiche de faire un selfie dans un lieu insolite !</span>
                <span class="bottom">Rejoignez Tpaschiche pour le partage et l'entraide.</span>

                <a class="btn big register" href="{{ path("yeomi_user_register") }}">{% trans %}Register{% endtrans %}</a>

            </aside>
        </div>
    {% endblock %}

    {% block homeViews %}

        <div class="container">
            <div class="left column-container">
                <div class="index-menu" data-offset="0">
                    <div class="tab defi active"><a class="loader-list" data-target="{{ path("yeomi_post_view_list", {"type": "defi"}) }}" href="">Les défis</a></div>
                    <div class="tab histoire"><a class="loader-list" data-target="{{ path("yeomi_post_view_list", {"type": "histoire"}) }}" href="">Les histoires</a></div>
                </div>

                <div class="ajax-wrapper">
                    {{ render(controller("YeomiPostBundle:Main:list", {"type": "defi"})) }}
                </div>
                <div class="more-posts">
                    <a href="">{% trans %}See more posts{% endtrans %}</a>
                </div>
            </div>

            <div class="right column-container">
                <div class="index-menu" data-offset="0">
                    <div class="tab popular active"><a class="loader-list" data-target="{{ path("yeomi_post_view_list_popular") }}" href="">Les + populaires</a></div>
                    <div class="tab latest"><a class="loader-list" data-target="{{ path("yeomi_post_view_list_recents") }}" href="">Les + récents</a></div>
                </div>

                <div class="ajax-wrapper">
                    {{ render(controller("YeomiPostBundle:Main:listPopular")) }}
                </div>
                <div class="more-posts">
                    <a href="">{% trans %}See more posts{% endtrans %}</a>
                </div>
            </div>
        </div>
    {% endblock %}

    </div>
{% endblock %}