{% extends("YeomiPostBundle::layout.html.twig") %}

{% block metaTitle %}Partagez vos Tips de la vie quotidienne{% endblock %}
{% block metaDescription %}S'informer, découvrir, partager... Tous vos tips, conseils, astuces, infos pratiques sur YooTips : suivez le guide!{% endblock %}


{% block body %}
  <div class="page-index">
    {% block headerBan %}
      <div class="wrapper-width home-ban">
        <aside id="home-ban" class="top-ban">
          <div class="text">
            <span class="top">S'informer, découvrir, partager...</span>
            <span class="middle">Partagez vos Tips de la vie quotidienne</span>
          </div>

        </aside>
      </div>
    {% endblock %}

    {% block homeViews %}

      <div class="container container-lists">
        <div class="left column-container">
          <div class="index-menu-wrapper">
            <div class="index-menu" data-offset="0" data-quantity="5">
              <div class="tab popular active"><a class="loader-list" data-target="{{ path("yeomi_post_view_list_popular") }}" href="">Les + populaires</a></div>
              <div class="tab latest"><a class="loader-list" data-target="{{ path("yeomi_post_view_list_recents") }}" href="">Les + récents</a></div>
            </div>
          </div>

          <div class="ajax-wrapper">
            {{ render(controller("YeomiPostBundle:Main:listPopular", {"limit": 5})) }}
          </div>
          <div class="more-posts">
            <a href="">{% trans %}See more posts{% endtrans %}</a>
          </div>
        </div>
      </div>
    {% endblock %}

    <div class="container container-home-block">
      <div id="articles-block">
        <div class="yeo-detailed-slideshow">

          {% for article in articles %}
            <div class="article-teaser slide">
              <img class="article-img"
                   src="{{ web_image(asset('uploads/img/article/' ~ article.image.id ~ '.' ~ article.image.value)).fixOrientation().zoomCrop(895,465) }}"
                   alt=""/>
              <div class="block-over">
                <h3>{{ article.title }}</h3>
                <p>{{ truncatePost(article.body, 200)|striptags }}</p>
                <a href="{{ path("yeomi_cms_list_article") }}">Voir toutes les actus</a>
              </div>

              <a class="btn-3d readmore" href="{{ path("yeomi_cms_view_article", {"slug": article.slug}) }}">Lire la
                suite</a>
            </div>
          {% endfor %}
        </div>
      </div>

      {% if highlight %}
      <div id="highlight-block" style="background-image: url({{ asset('uploads/img/article/' ~ highlight.image.id ~ '.' ~ highlight.image.value) }})">
        <div class="article-highlight-teaser">
          <h3>{{ highlight.title }}</h3>


          <a class="btn-3d readmore" href="{% if highlight.link %}{{ highlight.link }}{% else %}{{ path("yeomi_cms_view_article", {"slug": highlight.slug}) }}{% endif %}">Lire la
            suite</a>
        </div>
      </div>
      {% endif %}
    </div>

  </div>
{% endblock %}