{% extends("YeomiPostBundle::layout.html.twig") %}

{% block metaTitle %}Tpaschiche : Partagez vos défis et histoires en toute liberté...{% endblock %}
{% block metaDescription %}Propose un défi et partage tes histoires drôles (ou pas) avec les autres...{% endblock %}

{% block jsPlugin %}
    {{ parent() }}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block body %}
    <div class="page-index">
    {% block headerBan %}
        <div class="wrapper-width home-ban">
            <aside id="home-ban" class="top-ban">
                <div class="text">
                    <span class="top">Une envie, un partage, un défi...</span>
                    <span class="middle">Partagez vos défis et histoires en toute liberté </span>
                </div>
                {% if is_granted("ROLE_USER") == false %}
                    <a class="btn big register" href="{{ path("yeomi_user_register") }}">{% trans %}Register{% endtrans %}</a>
                {% endif %}

            </aside>
        </div>
    {% endblock %}

    {% block homeViews %}

        <div class="container container-lists">
            <div class="left column-container">
                <div class="index-menu" data-offset="0"  data-quantity="5">
                    <div class="tab defi active"><a class="loader-list" data-target="{{ path("yeomi_post_view_list", {"type": "defi"}) }}" href="">Les défis</a></div>
                    <div class="tab histoire"><a class="loader-list" data-target="{{ path("yeomi_post_view_list", {"type": "histoire"}) }}" href="">Les histoires</a></div>
                </div>

                <div class="ajax-wrapper">
                    {{ render(controller("YeomiPostBundle:Main:list", {"type": "defi", "limit": 5})) }}
                </div>
                <div class="more-posts">
                    <a href="">{% trans %}See more posts{% endtrans %}</a>
                </div>
            </div>

            <div class="right column-container">
                <div class="index-menu" data-offset="0"  data-quantity="5">
                    <div class="tab popular active"><a class="loader-list" data-target="{{ path("yeomi_post_view_list_popular") }}" href="">Les + populaires</a></div>
                    <div class="tab latest"><a class="loader-list" data-target="{{ path("yeomi_post_view_list_recents") }}" href="">Les + récents</a></div>
                </div>

                <div class="ajax-wrapper">
                    {{ render(controller("YeomiPostBundle:Main:listPopular", {"limit": 5})) }}
                </div>
                <div class="more-posts">
                    <a href="">{% trans %}See more posts{% endtrans %}</a>
                </div>
            </div>
        </div>
    {% endblock %}

     <div class="container container-home-block">
        <div id="articles-block">
            <div class="yeo-detailed-slideshow">

            {% for article in articles %}
                <div class="article-teaser slide">
                    <img class="article-img" src="{{ web_image(asset('uploads/img/article/' ~ article.image.id ~ '.' ~ article.image.value)).fixOrientation().zoomCrop(895,465) }}" alt=""/>
                    <div class="block-over">
                        <h3>{{ article.title }}</h3>
                        <p>{{ truncatePost(article.body, 200)|striptags }}</p>
                        <a href="{{ path("yeomi_cms_list_article") }}">Voir toutes les actus</a>
                    </div>

                    <a class="btn-3d readmore" href="{{ path("yeomi_cms_view_article", {"slug": article.slug}) }}">Lire la suite</a>
                </div>
            {% endfor %}
            </div>
        </div>

        <div id="social-block">
            <h4>TpasChiche de nous suivre</h4>
            <div class="buttons-area">
                <a class="fb" target="_blank" href="https://www.facebook.com/Tpaschiche">Facebook</a>
                <a class="tw" target="_blank" href="https://twitter.com/tpaschiche">Twitter</a>
                <a class="pin" target="_blank" href="https://www.pinterest.com/Tpaschiche/">Pinterest</a>
                <a class="you" target="_blank" href="https://www.youtube.com/user/Tpaschiche">Youtube</a>
                <a class="gplus" target="_blank" href="https://plus.google.com/112662265687757220357" rel="publisher">Google+</a>
            </div>

            <div class="facebook-module">
                <div class="fb-like-box" data-href="https://www.facebook.com/Tpaschiche" data-width="240" data-height="240" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
            </div>
        </div>
    </div>

    </div>
{% endblock %}