
<aside class="list-comment-block">

    {% if comments|length > 1 %}
        <h4>{{ comments|length }} commentaires</h4>
    {% else %}
        <h4>{{ comments|length }} commentaire</h4>
    {% endif %}

    <div class="comment-list">
        {% for comment in comments %}
            <div class="comment">

                <div class="left">
                    <a href="{{ path("yeomi_user_profile", {"username":comment.user.username}) }}">
                        <div class="avatar">
                            {% if  comment.user.profile.avatar.id is defined %}
                                <img src="{{ web_image(asset('uploads/img/avatar/' ~ comment.user.profile.avatar.id ~ '.' ~ comment.user.profile.avatar.value)).fixOrientation().zoomCrop(90,90) }}" alt=""/>
                            {% endif %}
                        </div>
                    </a>
                </div>

                <div class="right">
                    <a href="{{ path("yeomi_user_profile", {"username":comment.user.username}) }}">
                        <h4>{{ comment.user.displayUsername }}</h4>
                    </a>
                    <div class="details">{{ comment.created|date("d/m/y \\à G\\hi") }}</div>
                    <div class="body">{{ comment.content }}</div>

                    <div class="actions-btn">
                        {% if is_granted("ROLE_USER") %}
                            <a href="" class="vote-btn like" data-target="{{ path("yeomi_post_vote_ajax", {"entityType": "comment", "entityId": comment.id, "type": "positive"}) }}" >(<span class="count-value">{{ comment.likes.positives }}</span>)</a>
                            <a href="" class="vote-btn hate" data-target="{{ path("yeomi_post_vote_ajax", {"entityType": "comment", "entityId": comment.id, "type": "negative"}) }}" >(<span class="count-value">{{ comment.likes.negatives }}</span>)</a>
                        {% else %}
                            <span title="Vous devez disposer d'un compte TPC pour utiliser cette fonctionnalité" class="vote-btn-disable like">(<span>{{ comment.likes.positives }}</span>)</span>
                            <span title="Vous devez disposer d'un compte TPC pour utiliser cette fonctionnalité" class="vote-btn-disable hate">(<span>{{ comment.likes.negatives }}</span>)</span>
                        {% endif %}
                    </div>

                    <div class="attached-files">
                        {% if comment.video.video is defined %}
                            <iframe width="420" height="251" src="//www.youtube.com/embed/{{ comment.video.video }}" frameborder="0" allowfullscreen></iframe>
                        {% elseif comment.images[0] is defined %}
                            {% for image in comment.images %}
                                <img src="{{ web_image(asset('uploads/img/comment/' ~ image.id ~ '.' ~ image.value)).fixOrientation().cropResize(175,220) }}" alt=""/>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <p class="italic">Soyez le premier (ou la première) à participer !</p>
        {% endfor %}
    </div>
</aside>