{% for post in posts %}

    <div class="post list-view">

        <table>
            <tr>
                <td class="left">
                    <a href="{{ path("yeomi_post_view_full", {"type": post.type.slug, "id": post.id}) }}">
                    <div class="content"><p>{{ truncatePost(post.content, 200) }}</p></div>
                    </a>
                </td>


                {% if post.video.video is defined %}
                    <td class="right">
                        <a class="image" href="{{ path("yeomi_post_view_full", {"type": post.type.slug, "id": post.id}) }}">
                            <span class="thumb-video"></span>
                        </a>
                    </td>
                {% elseif post.images[0] is defined %}
                    <td class="right">
                        <a class="image" href="{{ path("yeomi_post_view_full", {"type": post.type.slug, "id": post.id}) }}">
                            <img src="{{ asset('uploads/img/post/' ~ post.images[0].id ~ '.' ~ post.images[0].value) }}" alt=""/>
                        </a>
                    </td>
                {% endif %}
            </tr>

            <tr>
                <td class="details" colspan="2">
                    <span class="post-date">{{ post.created|date("d/m/y \\à G\\hi") }}</span>
                    {% if  post.user %}
                        <a href="{{ path("yeomi_user_profile", {"username" : post.user.username}) }}">{{ post.user.username }}</a>
                    {% else %}
                        <span>anonyme</span>
                    {% endif %}
                    - <a href="{{ path("yeomi_post_view_category", {"id" : post.categories[0].id}) }}">{{ post.categories[0].name }}</a>

                </td>
            </tr>
        </table>

        <div class="actions-btn">
            {% if post.type.slug == "defi" %}
                <a href="" class="vote-btn like" data-target="{{ path("yeomi_post_vote_ajax", {"entityType": "post", "entityId": post.id, "type": "positive"}) }}" >Jkiff ton défi ! (<span>{{ post.likes.positives }}</span>)</a>
                <a href="" class="vote-btn hate" data-target="{{ path("yeomi_post_vote_ajax", {"entityType": "post", "entityId": post.id, "type": "negative"}) }}" >Ouais pourri... (<span>{{ post.likes.negatives }}</span>)</a>
            {% else %}
                <a href="" class="vote-btn like" data-target="{{ path("yeomi_post_vote_ajax", {"entityType": "post", "entityId": post.id, "type": "positive"}) }}" >Jkiff ton blabla ! (<span>{{ post.likes.positives }}</span>)</a>
                <a href="" class="vote-btn hate" data-target="{{ path("yeomi_post_vote_ajax", {"entityType": "post", "entityId": post.id, "type": "negative"}) }}" >Zéro, null... (<span>{{ post.likes.negatives }}</span>)</a>
            {% endif %}
            <a class="comments" href="{{ path("yeomi_post_view_full", {"type": post.type.slug, "id": post.id}) }}">({{ post.comments|length }})</a>


            <a class="readmore" href="{{ path("yeomi_post_view_full", {"type": post.type.slug, "id": post.id}) }}">{% trans %}Read More{% endtrans %}</a>
        </div>


    </div>


{% endfor %}
