{% extends("YeomiPostBundle::layout.html.twig") %}


{% block body %}
    <section class="page-category page-search">
        <header class="category-header">
            <h1>Recherche : {{ searchWord }}</h1>
            <p>Il y à {{ posts|length }} pour votre recherche</p>
        </header>

        {% block homeViews %}

            <div class="container container-lists">
                <div class="full column-container">

                    <div class="ajax-wrapper">
                        {% for post in posts %}

                            <div class="post list-view">

                                <table>
                                    <tr>
                                        <td class="left">
                                            <div class="content">{{ truncatePost(post.content, 200) }}</div>
                                        </td>


                                        {% if post.video.video is defined %}
                                            <td class="right">
                                                <a class="image" href="{{ path("yeomi_post_view_full", {"id": post.id}) }}">
                                                    <span class="thumb-video"></span>
                                                </a>
                                            </td>
                                        {% elseif post.images[0] is defined %}
                                            <td class="right">
                                                <a class="image" href="{{ path("yeomi_post_view_full", {"id": post.id}) }}">
                                                    <img src="{{ asset('uploads/img/post/' ~ post.images[0].id ~ '.' ~ post.images[0].value) }}" alt=""/>
                                                </a>
                                            </td>
                                        {% endif %}
                                    </tr>

                                    <tr>
                                        <td class="details" colspan="2">
                                            <span class="post-date">{{ post.created|date("d/m/y \\à G\\hi") }}</span>
                                            {% if  post.user %}
                                                <a href="{{ path("yeomi_user_profile", {"username" : post.user.username}) }}">{{ post.user.username }}</a>
                                            {% else %}
                                                <span>anonyme</span>
                                            {% endif %}
                                            - <a href="{{ path("yeomi_post_view_category", {"id" : post.categories[0].id}) }}">{{ post.categories[0].name }}</a>

                                        </td>
                                    </tr>
                                </table>

                                <div class="actions-btn">
                                    <a href="" class="vote-btn like" data-target="{{ path("yeomi_post_vote_ajax", {"entityType": "post", "entityId": post.id, "type": "positive"}) }}" >J'aime(<span>{{ post.likes.positives }}</span>)</a>
                                    <a href="" class="vote-btn hate" data-target="{{ path("yeomi_post_vote_ajax", {"entityType": "post", "entityId": post.id, "type": "negative"}) }}" >J'aime pas(<span>{{ post.likes.negatives }}</span>)</a>
                                    <a class="comments" href="{{ path("yeomi_post_view_full", {"id": post.id}) }}">({{ post.comments|length }})</a>
                                    <a class="share" href="{{ path("yeomi_post_view_full", {"id": post.id}) }}"></a>

                                    <a class="readmore" href="{{ path("yeomi_post_view_full", {"id": post.id}) }}">{% trans %}Read More{% endtrans %}</a>
                                </div>


                            </div>


                        {% endfor %}

                    </div>
                </div>
            </div>
        {% endblock %}




    </section>


{% endblock %}