{% extends("YeomiPostBundle::layout.html.twig") %}


{% block body %}

    <table>
        {% for post in posts %}
            <tr>
                <td><a href="{{ path("yeomi_post_view_full", {"id" : post.id}) }}">{{ post.title }}</a></td>
                <td>{{ post.content }}</td>
                {% for image in post.images %}
                    <td><img style="width:100px; height: auto;" src="{{ asset('uploads/img/post/' ~ image.id ~ '.' ~ image.value) }}" alt=""/></td>
                {% endfor %}

                <td><a href="{{ path("yeomi_post_edit_post", {'id': post.id}) }}">Edit</a></td>
                <td><a href="{{ path("yeomi_post_delete_post", {'id': post.id}) }}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}