{% extends("YeomiPostBundle::layout.html.twig") %}

{% block metaTitle %}TPC - {{ truncatePost(post.content, 55) }}{% endblock %}
{% block metaDescription %}{{ post.categories[0].name }} : {{ truncatePost(post.content, 110) }}{% endblock %}

{% block jsPlugin %}
    {{ parent() }}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block body %}


    <header class="breadcrumb-ban">
        <ul class="breadcrumb left">
            <li><a href="{{ path("yeomi_post_index") }}">Accueil ></a></li>
            <li><a href="{{ path("yeomi_post_view_category", {"slug": post.categories[0].slug}) }}">{{ post.categories[0].name }}</a></li>
        </ul>

        <ul class="right">
            {% if prevPostId %}
                <li><a class="prev-post" href="{{ path("yeomi_post_view_full", {"id": prevPostId}) }}">< Post précédent</a></li>
            {% endif %}
            {% if nextPostId %}
                <li><a class="next-post" href="{{ path("yeomi_post_view_full", {"id": nextPostId}) }}">Post suivant ></a></li>
            {% endif %}
        </ul>

    </header>

    <section class="page-post">

        <article class="post full-view{% if post.video.video is defined %} with-video{% elseif post.images[0] is defined %} with-img{% endif %}">

            <div class="left">
                <div class="body"><p>{{ post.content }}</p></div>
                <div class="details">
                    <span class="post-date">{{ post.created|date("d/m/y \\à G\\hi") }}</span>
                    {% if  post.user %}
                        <a href="{{ path("yeomi_user_profile", {"username" : post.user.username}) }}">{{ post.user.displayUsername }}</a>
                    {% else %}
                        <span>anonyme</span>
                    {% endif %}
                    - <a href="{{ path("yeomi_post_view_category", {"slug" : post.categories[0].slug}) }}">{{ post.categories[0].name }}</a>
                </div>


                <div class="social-network-action">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri|url_encode }}" class="facebook-share"></a>
                    <a href="https://twitter.com/home?status={{ app.request.uri|url_encode }}" class="twitter-share"></a>
                    <a href="sms:&body={{ app.request.uri|url_encode }}" class="mobile-only sms-share"></a>
                </div>
                <div class="actions-btn">
                    <a class="comments" href="">({{ post.comments|length }})</a>
                    <a href="" class="vote-btn like" data-target="{{ path("yeomi_post_vote_ajax", {"entityType": "post", "entityId": post.id, "type": "positive"}) }}" ><span class="picto"></span> <span class="count">({{ post.likes.positives }})</span></a>
                    <a href="" class="vote-btn hate" data-target="{{ path("yeomi_post_vote_ajax", {"entityType": "post", "entityId": post.id, "type": "negative"}) }}" ><span class="picto"></span> <span class="count">({{ post.likes.negatives }})</span></a>
                </div>
            </div>

            <div class="right">
                {% if post.video.video is defined %}

                    <div id="main-video-player" class="yeo-video">
                        <iframe width="420" height="251" src="//www.youtube.com/embed/{{ post.video.video }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                {% elseif post.images[0] is defined %}
                    <div id="post-slideshow" class="yeo-slideshow">
                    {% for image in post.images %}

                        <div class="slide"><img src="{{ web_image(asset('uploads/img/post/' ~ image.id ~ '.' ~ image.value)).fixOrientation().zoomCrop(210, 210) }}" alt=""/></div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </article>

    {% block comment %}
        <div class="comment-area">
        {% if is_granted("ROLE_USER") %}
            <aside class="add-comment-block">

                <a href="{{ path("yeomi_user_profile", {"username":app.user.username}) }}">
                    <div class="avatar">
                        {% if  app.user.profile.avatar.id is defined %}
                            <img src="{{ web_image(asset('uploads/img/avatar/' ~ app.user.profile.avatar.id ~ '.' ~ app.user.profile.avatar.value)).fixOrientation().zoomCrop(90,90) }}" alt=""/>
                        {% endif %}
                    </div>
                </a>

                <div class="comment-intro">
                    <p>
                    <span class="hide-mobile">Toi aussi, </span><a href="{{ path("yeomi_user_profile", {"username":app.user.username}) }}" class="username">{{ app.user.displayUsername }}</a>,
                        commente cette histoire
                    </p>
                </div>
                {{ render(controller("YeomiPostBundle:Main:addComment", {"postId" : post.id})) }}

            </aside>

        {% else %}
            <p class="simple-message">
                Connectez-vous pour pouvoir commenter ce blabla...<br> Quoi vous n'êtes pas encore membre ?
                <a href="{{ path("yeomi_user_register") }}">S’inscrire en 30 sec.</a>
            </p>
        {% endif %}
            {{ render(controller("YeomiPostBundle:Main:listComment", {"postId" : post.id})) }}
        </div>
    {% endblock %}
    </section>

{% endblock %}