{% extends("YeomiPostBundle::layout.html.twig") %}


{% block body %}
    <table>
            <tr>
                <td><a href="{{ path("yeomi_post_view_full", {"id" : post.id}) }}">{{ post.title }}</a></td>
                <td>{{ post.content }}</td>
                {% for image in post.images %}
                    <td><img style="width:100px; height: auto;" src="{{ asset('uploads/img/post/' ~ image.id ~ '.' ~ image.value) }}" alt=""/></td>
                {% endfor %}

                <td><a href="{{ path("yeomi_post_edit_post", {'id': post.id}) }}">Edit</a></td>
                <td><a href="{{ path("yeomi_post_delete_post", {'id': post.id}) }}">Delete</a></td>
            </tr>
    </table>
        <fieldset>
            <a href="" class="vote-btn like" data-target="{{ path("yeomi_post_vote_ajax", {"entityType": "post", "entityId": post.id, "type": "like"}) }}" >J'aime(<span>{{ post.likes.positives }}</span>)</a>
            <a href="" class="vote-btn hate" data-target="{{ path("yeomi_post_vote_ajax", {"entityType": "post", "entityId": post.id, "type": "hate"}) }}" >J'aime pas(<span>{{ post.likes.negatives }}</span>)</a>
        </fieldset>
        <em>Written by {% if  post.user %}{{ post.user.username }}{% else %}anonyme{% endif %} on the {{ post.created|date("d/m/y \\à G\\hi") }}</em>

    {% block comment %}
        <div>
            {{ render(controller("YeomiPostBundle:Main:addComment", {"request": app.request, "id" : post.id})) }}
        </div>

        <h4>{{ post.comments|length }} Commentaires</h4>
        {% for comment in post.comments %}
            <fieldset>
                <h3>{{ comment.title }}</h3>
                <p>{{ comment.content }}</p>
                {% for image in comment.images %}
                    <img style="width:100px; height: auto;" src="{{ asset('uploads/img/comment/' ~ image.id ~ '.' ~ image.value) }}" alt=""/>
                {% endfor %}
                <em>Written by {% if  comment.user %}{{ comment.user.username }}{% else %}anonyme{% endif %} on the {{ comment.created|date("d/m/y \\à G\\hi") }}</em>
            </fieldset>
        {% endfor %}

    {% endblock %}

{% endblock %}