{% extends("YeomiPostBundle::layout.html.twig") %}


{% block body %}


    <header class="breadcrumb-ban">
        <ul class="breadcrumb left">
            <li><a href="{{ path("yeomi_post_index") }}">Accueil ></a></li>
            <li><a href="{{ path("yeomi_post_view_type", {"slug": post.type.slug}) }}">{{ post.type.name }} ></a></li>
            <li><a href="{{ path("yeomi_post_view_category", {"id": post.categories[0].id}) }}">{{ post.categories[0].name }}</a></li>
        </ul>

        <ul class="right">
            <li><a class="btn-dark" href="{{ path("yeomi_post_view_type", {"slug": post.type.slug}) }}">Retour aux {{ post.type.name }}s</a></li>
            {% if prevPostId %}
                <li><a class="prev-post" href="{{ path("yeomi_post_view_full", {"type": post.type.slug, "id": prevPostId}) }}">< {{ post.type.name }} précédent</a></li>
            {% endif %}
            {% if nextPostId %}
                <li><a class="next-post" href="{{ path("yeomi_post_view_full", {"type": post.type.slug, "id": nextPostId}) }}">{{ post.type.name }} suivant ></a></li>
            {% endif %}
        </ul>

    </header>

    <section class="page-post">

        <article class="post full-view{% if post.video.video is defined %} with-video{% elseif post.images[0] is defined %} with-img{% endif %}">

            <div class="left">
                <div class="body">{{ post.content }}</div>
                <div class="details">
                    <span class="post-date">{{ post.created|date("d/m/y \\à G\\hi") }}</span>
                    {% if  post.user %}
                        <a href="{{ path("yeomi_user_profile", {"username" : post.user.username}) }}">{{ post.user.username }}</a>
                    {% else %}
                        <span>anonyme</span>
                    {% endif %}
                    - <a href="{{ path("yeomi_post_view_category", {"id" : post.categories[0].id}) }}">{{ post.categories[0].name }}</a>
                </div>


                <div class="actions-btn">
                    <a class="comments" href="">({{ post.comments|length }})</a>
                    <a href="" class="vote-btn like" data-target="{{ path("yeomi_post_vote_ajax", {"entityType": "post", "entityId": post.id, "type": "positive"}) }}" >J'aime(<span>{{ post.likes.positives }}</span>)</a>
                    <a href="" class="vote-btn hate" data-target="{{ path("yeomi_post_vote_ajax", {"entityType": "post", "entityId": post.id, "type": "negative"}) }}" >J'aime pas(<span>{{ post.likes.negatives }}</span>)</a>
                </div>
            </div>

            <div class="right">
                {% if post.video.video is defined %}

                    <div id="main-video-player" class="yeo-video">
                        <iframe width="420" height="251" src="//www.youtube.com/embed/{{ post.video.video }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                {% elseif post.images[0] is defined %}
                    <div id="post-slideshow" class="yeo-slideshow">
                    {% for image in post.images %}

                        <div class="slide"><img style="width:340px; height: 210px;" src="{{ asset('uploads/img/post/' ~ image.id ~ '.' ~ image.value) }}" alt=""/></div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </article>

    {% block comment %}
        <div class="comment-area">
        {% if is_granted("ROLE_USER") %}
            <aside class="add-comment-block">

                <a href="{{ path("yeomi_user_profile", {"username":app.user.username}) }}">
                    <div class="avatar">
                        {% if  app.user.profile.avatar.id is defined %}
                            <img style="width:9rem;height:9rem;" src="{{ asset('uploads/img/avatar/' ~ app.user.profile.avatar.id ~ '.' ~ app.user.profile.avatar.value) }}" alt=""/>
                        {% endif %}
                    </div>
                </a>

                <div class="comment-intro">
                    <p>
                    Toi aussi, <a href="{{ path("yeomi_user_profile", {"username":app.user.username}) }}" class="username">{{ app.user.username }}</a>,
                    {% if post.type.slug == "defi" %}
                        participe au défi !
                    {% else %}
                     commente cette histoire
                    {% endif %}
                    </p>
                </div>
                {{ render(controller("YeomiPostBundle:Main:addComment", {"postId" : post.id})) }}

            </aside>

        {% else %}
            <p class="simple-message">
                {% if post.type.slug == "defi" %}
                    Connectez-vous pour commenter ou participer à ce défi...<br> Quoi vous n'êtes pas encore membre ?
                    <a href="{{ path("yeomi_user_register") }}">S’inscrire en 30 sec.</a>
                {% else %}
                    Connectez-vous pour pouvoir commenter ce blabla...<br> Quoi vous n'êtes pas encore membre ?
                    <a href="{{ path("yeomi_user_register") }}">S’inscrire en 30 sec.</a>
                {% endif %}
            </p>
        {% endif %}
            {{ render(controller("YeomiPostBundle:Main:listComment", {"postId" : post.id})) }}
        </div>
    {% endblock %}
    </section>

{% endblock %}