{% extends("YeomiPostBundle::layout.html.twig") %}

{% block metaTitle %}Créer un compte sur Tpaschiche.com{% endblock %}
{% block metaDescription %}Devenez membre et participez pleinement des fonctionnalités du site pour partager vos défis et histoires.{% endblock %}

{% block statusMessage %}
    {{ parent() }}
    {% if form_errors(form) %}<div class="alert">{{ form_errors(form) }}</div>{% endif %}
    {% if form_errors(form.username) %}<div class="alert">{{ form_errors(form.username) }}</div>{% endif %}
    {% if form_errors(form.email) %}<div class="alert">{{ form_errors(form.email) }}</div>{% endif %}
    {% if form_errors(form.passwordClear.first) %}<div class="alert">{{ form_errors(form.passwordClear.first) }}</div>{% endif %}
    {% if form_errors(form.passwordClear.second) %}<div class="alert">{{ form_errors(form.passwordClear.second) }}</div>{% endif %}

{% endblock %}

{% block body %}

    <div class="page-register style-login">
        <div class="container">

            <section>


                <h3>{% trans %}Create an account{% endtrans %}</h3>


                {{ form_start(form) }}


                {{ form_label(form.gender, "Genre") }}
                {{ form_widget(form.gender) }}

                {{ form_label(form.username) }}
                {{ form_widget(form.username, {"attr": {"class": "with-legend"}}) }}
                <span class="form-legend">Votre pseudo doit faire 5 caractères minimum avec lettres et/ou chiffres.</span>

                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}


                {{ form_label(form.passwordClear.first) }}
                {{ form_widget(form.passwordClear.first, {"attr": {"class": "with-legend"}}) }}
                <span class="form-legend">Choisissez un mot de passe de 6 caractères minimum.</span>

                {{ form_label(form.passwordClear.second) }}
                {{ form_widget(form.passwordClear.second) }}




                <div class="submit-area">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn'}, 'label': 'Register'|trans}) }}
                </div>


                {{ form_end(form) }}

            </section>
        </div>
    </div>

{% endblock %}