{% extends("YeomiAdminBundle::layout.html.twig") %}

{% block content %}
    <h3 class="content-title">Liste des Catégories</h3>
    <table class="table table-striped table-hover table-paginator">
        <thead>
        <tr>
            <th>Ref</th>
            <th>Nom</th>
            <th>Url</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <th><a target="_blank" href="{{ path("yeomi_post_view_category", {"slug": category.slug}) }}">{{ category.id }}</th></a>
                <td>{{ category.name }}</td>
                <td>{{ category.slug }}</td>
                <td>{{ truncatePost(category.description, 200) }}</td>
                <td>
                    <a href="{{ path("yeomi_post_add_category", {"id": category.id}) }}">
                        Modifier
                    </a>
                    <a class="need-confirmation" href="{{ path("yeomi_admin_delete_entity", {"type": "category", "id": category.id}) }}">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p class="bg-warning">Attention à la suppression des catégories: Vous supprimez également tous les TPC contenus dans ces catégories, et tous les commentaires liés à ces TPC</p>

{% endblock %}