{% extends("YeomiAdminBundle::layout.html.twig") %}

{% block content %}
    <h3 class="content-title">Liste des Utilisateurs</h3>
    <table class="table table-striped table-paginator user-table">
        <thead>
            <tr>
                <th>Ref</th>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Dernière connexion</th>
                <th>Profile</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
    {% for user in users %}
        <tr {% if user.checkRoleExist("ROLE_UNVALIDATE") %}class="unvalidate"{% elseif user.checkRoleExist("ROLE_ADMIN") %}class="admin"{% endif %}>
            <th>{{ user.id }}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.lastLogin|date("d/m/Y à H:i") }}</td>
            <td>
                <a target="_blank" href="{{ path("yeomi_user_profile", {"username": user.username}) }}">
                    Voir profile
                </a>
            </td>
            <td>
                {% if user.checkRoleExist("ROLE_ADMIN") == 0 %}
                    {% if user.status == -1 %}

                        <a href="{{ path("yeomi_admin_block_user", {"id": user.id, "unblock": "1"}) }}">
                            Débloquer
                        </a>
                    {% else %}
                        <a href="{{ path("yeomi_admin_block_user", {"id": user.id}) }}">
                            Bloquer
                        </a>
                    {% endif %}
                    <a class="need-confirmation" href="{{ path("yeomi_admin_delete_entity", {"type": "user", "id": user.id}) }}">
                        Supprimer
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}