{% extends("YeomiAdminBundle::layout.html.twig") %}

{% block content %}
    <h3 class="content-title">Liste des commentaires</h3>
    <table class="table table-striped table-hover table-paginator">
        <thead>
        <tr>
            <th>Ref</th>
            <th>Post</th>
            <th>Texte</th>
            <th>Auteur</th>
            <th>Date de création</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <th>{{ comment.id }}</th>
                <td>
                    <a target="_blank" href="{{ path("yeomi_post_view_full", {"id": comment.post.id}) }}">
                        Voir
                    </a>
                </td>
                <td>{{ truncatePost(comment.content, 200) }}</td>
                <td>{% if comment.user.username is defined %}{{ comment.user.username }}{% else %}Anonyme{% endif %}</td>
                <td>{{ comment.created|date("d/m/Y à H:i") }}</td>
                <td>

                    <a class="need-confirmation" href="{{ path("yeomi_admin_delete_entity", {"type": "comment", "id": comment.id}) }}">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}