{% extends("YeomiPostBundle::layout.html.twig") %}


{% block body %}
    <div class="page-profile">
        <header class="profile-ban">
            <div class="avatar">
                {% if  user.profile.avatar.id is defined %}
                <img style="width:15rem;height:15rem;" src="{{ asset('uploads/img/avatar/' ~ user.profile.avatar.id ~ '.' ~ user.profile.avatar.value) }}" alt=""/>
                    {% endif %}
            </div>
            <div class="side-infos">
                <h2 class="username">{{ user.username }}</h2>
                <p>Membre depuis {{ user.created|date("d/m/y") }}</p>
            </div>
        </header>
        <div class="content">
            {% if user.checkRoleExist("ROLE_UNVALIDATE") == 0 %}
                <p>Cette utilisateur est en attente de validation</p>
            {% else %}
                <nav class="profile-nav">
                    <ul>
                        <li><a class="btn-3d ajax-profile-link {% if tabMessage == false %}active{% endif %}" href="" data-target="{{ path("yeomi_user_create_profile", {"userId" : user.id}) }}">Profil</a></li>
                        <li><a class="btn-3d ajax-profile-link" href="" data-target="{{ path("yeomi_user_list_activity", {"userId" : user.id}) }}">Activité</a></li>
                        <li><a class="btn-3d ajax-profile-link {% if tabMessage %}active{% endif %}" href="" data-target="{{ path("yeomi_user_create_message", {"userId" : user.id}) }}">Messages</a></li>
                    </ul>
                </nav>

                <section class="ajax-wrapper">
                    {% if tabMessage %}
                        {{ render(controller("YeomiUserBundle:Profile:createMessage", {"userId": user.id})) }}
                    {% else %}
                        {{ render(controller("YeomiUserBundle:Profile:createProfile", {"userId": user.id})) }}
                    {% endif %}

                </section>
            {% endif %}
        </div>
    </div>
{% endblock %}