<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="{{ asset("bundles/yeomiadmin/css/bootstrap.min.css") }}"/>
    <link rel="stylesheet" href="{{ asset("bundles/yeomiadmin/css/bootstrap-theme.min.css") }}"/>
    <link rel="stylesheet" href="{{ asset("bundles/yeomiadmin/css/style.css") }}"/>
</head>
<body>

<div class="container-fluid">
    {% block top_bar %}
        <div class="top-bar row">

            <div class="col-xs-12 text-center">
                <a href="{{ path('yeomi_admin_home') }}">
                    <h2>Administration - YooTips</h2>
                </a>
            </div>

        </div>
    {% endblock %}

     <div class="main-row row">
         <div class="menu col-xs-3">
             <ul>
                 <li><a href="{{ path("yeomi_admin_list_user") }}">Les Utilisateurs</a></li>
                 <li><a href="{{ path("yeomi_admin_list_newsletter_subscription") }}">Les Inscriptions à la newsletter</a></li>
                 <li><a href="{{ path("yeomi_admin_list_post") }}">Les Posts</a></li>
                 <li><a href="{{ path("yeomi_admin_list_comment") }}">Les Commentaires</a></li>
                 <li class="cms-link"><a href="{{ path("yeomi_post_add_category") }}">Ajouter une Categorie</a></li>
                 <li><a href="{{ path("yeomi_admin_list_category") }}">Voir toutes les catégories</a></li>
                 <li class="cms-link"><a href="{{ path("yeomi_cms_create_page") }}">Ajouter une page</a></li>
                 <li><a href="{{ path("yeomi_cms_list_content", {"contentType": "page"}) }}">Voir toutes les pages</a></li>
                 <li class="cms-link"><a href="{{ path("yeomi_cms_create_article") }}">Ajouter un article</a></li>
                 <li><a href="{{ path("yeomi_cms_list_content", {"contentType": "article"}) }}">Voir tous les articles</a></li>

             </ul>
         </div>
         <div class="content col-xs-9">
             {% block content %}
             {% endblock %}
         </div>
     </div>
</div>
{% block body %}
{% endblock %}
<script src="{{ asset("assets/js/libs/jquery-1.11.2.js") }}"></script>
<script src="{{ asset("bundles/yeomiadmin/js/bootstrap.min.js") }}"></script>
<script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script src="{{ asset("bundles/yeomiadmin/js/script.js") }}"></script>
<script src="{{ asset("bundles/yeomiadmin/js/ckeditor/ckeditor.js") }}"></script>
<script src="{{ asset("bundles/yeomiadmin/js/ckeditor/config.js") }}"></script>
</body>
</html>